RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

ExpiresActive On
ExpiresByType application/manifest+json "access plus 1 week"
ExpiresByType application/x-web-app-manifest+json "access plus 0 seconds"
ExpiresByType text/cache-manifest "access plus 0 seconds"

ExpiresDefault "access 1 hour"

# Data
ExpiresByType text/html "access plus 1 minute"
ExpiresByType application/json "access plus 0 seconds"
ExpiresByType application/ld+json "access plus 0 seconds"
ExpiresByType application/schema+json "access plus 0 seconds"
ExpiresByType application/vnd.geo+json "access plus 0 seconds"
ExpiresByType application/xml "access plus 0 seconds"
ExpiresByType text/xml "access plus 0 seconds" 

ExpiresByType text/plain "access plus 1 hour"
ExpiresByType text/x-component "access plus 1 hour"

# Media: images, video, audio
ExpiresByType image/jpg "access plus 1 hour"
ExpiresByType image/jpeg "access plus 1 hour"
ExpiresByType image/gif "access plus 1 hour"
ExpiresByType image/png "access plus 1 hour"
ExpiresByType image/svg+xml "access plus 1 hour" 
ExpiresByType image/bmp "access plus 1 hour"
ExpiresByType image/webp "access plus 1 hour"
ExpiresByType audio/ogg "access plus 1 hour" 
ExpiresByType video/mp4 "access plus 1 hour" 
ExpiresByType video/ogg "access plus 1 hour" 
ExpiresByType video/webm "access plus 1 hour"

# Favicon (cannot be renamed)
ExpiresByType image/x-ico "access plus 1 hour"
ExpiresByType image/x-icon "access plus 1 hour"

# Webfonts
ExpiresByType application/vnd.ms-fontobject "access plus 1 hour"
ExpiresByType font/eot "access plus 1 hour"
ExpiresByType font/opentype "access plus 1 hour" 
ExpiresByType application/x-font-ttf "access plus 1 hour" 
ExpiresByType application/font-woff "access plus 1 hour" 
ExpiresByType application/font-woff2 "access plus 1 hour"
ExpiresByType application/x-font-woff "access plus 1 hour"
ExpiresByType font/woff "access plus 1 hour"

# CSS and JavaScript
ExpiresByType text/css "access plus 1 hour"
ExpiresByType text/javascript "access plus 1 hour"
ExpiresByType text/x-javascript "access plus 1 hour"
ExpiresByType application/javascript "access plus 1 hours"
ExpiresByType application/x-javascript "access plus 1 hours"

# Feed
ExpiresByType application/atom+xml "access plus 1 hour" 
ExpiresByType application/rdf+xml "access plus 1 hour"
ExpiresByType application/rss+xml "access plus 1 hour"

ExpiresByType application/json "access plus 0 seconds"
ExpiresByType application/ld+json "access plus 0 seconds"
ExpiresByType application/schema+json "access plus 0 seconds"
ExpiresByType application/vnd.geo+json "access plus 0 seconds"
ExpiresByType application/xml "access plus 0 seconds"
ExpiresByType text/xml "access plus 0 seconds"

ExpiresByType application/pdf "access 1 hour"
ExpiresByType application/x-shockwave-flash "access 1 hour"

RewriteEngine on

#Normal way (in case you need to deploy to NON-heroku)
RewriteCond %{HTTPS} !=on

#Heroku way
RewriteCond %{HTTP:X-Forwarded-Proto} !https

#If neither above conditions are met, redirect to https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]